<!DOCTYPE html>
<html>
  <head>
    <title>Cập nhật User</title>
  </head>
  <body>
    <h2>Cập nhật User</h2>
    <form action="/put-crud" method="POST">
      <input type="hidden" name="id" value="<%= user._id %>" />
      <input type="text" name="firstName" value="<%= user.firstName %>" />
      <input type="text" name="lastName" value="<%= user.lastName %>" />
      <input type="email" name="email" value="<%= user.email %>" />
      <input type="text" name="address" value="<%= user.address %>" />
      <button type="submit">Cập nhật</button>
    </form>
    <a href="/get-crud">Quay lại</a>
  </body>
</html>
